<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLL.Properties.Settings.QuanLyLinhKienConnectionString"
            connectionString="Data Source=CONGPHAMQUOCVIE;Initial Catalog=QuanLyLinhKien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>